@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
.body
{
align-items: center;
justify-content: center;
}
.sub
{
  color: white;
  text-align: center;
  padding-top: 30px;
}
.pargraph
{
  padding-top: 15px;
}
.rec
{
  padding-top: 25px;
}

.content {
  display: flex;
  height: 35vh;
  align-items: center;
}



.button-container {
  perspective: 500px;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
}

.mic-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  transition: transform 0.4s;
  border: 2px solid #fff;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  position: relative;
}

.button-message, .mic {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.button-message {
  position: absolute;
  width: 50px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 20px;
  z-index: 2;
  transform: rotateY(0deg);
  pointer-events: none;
  left: 23px;
  top: 20px;
}

.mic-button-loader {
  position: absolute;
  height: 102px;
  width: 100px;
  background-color: transparent;
  transform: rotateY(180deg);
  top: -31px;
  left: -50px;
}

.mic-checkbox:checked + .mic-button > .mic > .mic-button-loader {
  border-top: 3px solid #19c003;
  border-radius: 100%;
  animation: borderLoader 1.3s 0.2s ease-in-out infinite; 
}

.mic {
  position: relative;
  top: -11px;
  border: 10px solid #fff;
  height: 20px;
  width: 0;
  border-radius: 10px;
  transform: rotateY(180deg);
}

.mic:after, .mic:before, .mic-base {
  position: absolute;
}

.mic:after {
  content: "";
  top: 7px;
  left: -17px;
  height: 26px;
  width: 26px;
  background-color: transparent;
  border: 4px solid #fff;
  border-bottom-left-radius: 110px;
  border-bottom-right-radius: 110px;
  border-top: 0;
  
}

.mic:before {
  content: "";
  top: 33px;
  left: -2px;
  border-bottom: 18px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.mic-base {
  top: 46px;
  left: -10px;
  border-bottom: 5px solid #fff;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
}

@keyframes borderLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.credits {   
  font-size: 18px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-top: -35px;
}
[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  padding-top: 15px;
}

[type="file"] + label {
  border: none;
  border-radius: 5px;
  color: rgb(57, 114, 150);
  cursor: pointer;
  display: inline-block;
	font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;
  margin-bottom: 1rem;
  outline: none;
  padding: 1rem 50px;
  position: relative;
  transition: all 0.3s;
  vertical-align: middle;

&.btn-2 {
  background-color: #ffffff;
  border-radius: 50px;
  overflow: hidden;
  &::before {
    color: #314a63;
    content: "\f382";
    font-family: "Font Awesome 5 Pro";
    font-size: 100%;
    height: 100%;
    right: 130%;
    line-height: 3.3;
    position: absolute;
    top: 0px;
    transition: all 0.3s;
  }

  &:hover {
    background-color: darken(#314a63, 30%);
      
    &::before {
      right: 75%;
    }
  }}}
  .record-btn {
    background-color: #ffffff;
    border: none;
    color: rgb(57, 114, 150);
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}
.record-btn:hover {
    background-color: rgb(26, 54, 71);
    color: #fff;
}
