{% extends "app/base.html" %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}
<link rel="stylesheet" href="../../static/app/css/aboutus.css">
<br> <br> <br> <br>
  <h1>About us</h1>
  <p>
    welcome to our gender-based recommendation system!<br> Our web application aims to provide personalized product recommendations based on voice<br> analysis, revolutionizing the way users interact with e-commerce platforms.
  </p> <br> <br> <br>
  <h1>
    Mission Statement
  </h1> <br> <br>
  <p>At our core, we are committed to enhancing the shopping experience for users by leveraging cutting-edge technology.<br> Our mission is to utilize machine learning and voice recognition algorithms to tailor product recommendations <br>to individual users, ultimately improving user satisfaction and engagement</p>
  <br> <br> <br> <br> <br> <br>
  <h1>
     Our team members
  </h1>
      <section id="team">
      <div class="card">
        <img src="../../static/app/images/SD.jpeg" alt="" />
        <div class="data">
          <h2>Sdad Al-Bayyari</h2>
          <i>Developer</i>
          <p style="color: black;"> Co-founder and Data Scientist. Sdad's expertise in data analysis and modeling fuels the accuracy and effectiveness of our recommendation system</p>
        </div>
      </div>
      <div class="card">
        <img src="../../static/app/images/hamza1.jpeg" alt="" />
        <div class="data">
          <h2>Hamz Zaitoun</h2>
          <i>Developer</i>
          <p style="color: black;">Co-founder and Lead Developer. With a passion for machine learning and web development, Hamza spearheads the technical aspects of our project.</p>
        </div>
      </div>
      </section> 
      <br><br><br>
{% endblock main-content%}