{% extends "app/baseShop.html" %}
{% load static %}
{% block title %}Cayegory{% endblock title %}
{% block main-content %}
<link rel="stylesheet" type="text/css" href="{% static 'app/css/fcategory.css' %}">
<style>
  
.menu-item:nth-child(4) {
  border-radius: 0 0 10px 10px;
  background: #f9dddb;
  
}

.menu-item:nth-child(3) {
  background: #f9dddb;
}

.menu-item:nth-child(2) {
  background: #f9dddb;
}

.menu-item:nth-child(1) {
  border-radius: 10px 10px 0 0;
  background: #f9dddb;
}
</style>
<div class='main-wrapper'>
  <div class="menu">
    <div class='menu-item Amazon'>
      <div class='menu-item-title' ><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FBO'%}">BOOKS </a></div>
    </div>
    <div class='menu-item Lenovo'>
      <div class='menu-item-title'><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FAC'%}">Accessory </a></div>
      
    </div>
    <div class='menu-item'>
      <div class='menu-item-title'><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FSC'%}">skin Care </a></div>
    
    </div>
    <div class='menu-item'>
      <div class='menu-item-title'><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FBP'%}">Beauty products </a></div>
   
    </div>
  </div>
  <div class="container my-5">
    <div class="row">
            <div class="grid-container">
              {% for prod in product %}
                    <div class="product-card">
                      <a href="{% url 'FproductD' prod.id %}" class="btn">
                      <img src="{{prod.product_imge.url}}" alt="{{ prod.title }}" class="product-image">
                      <br><br>
                      <h2>{{ prod.title }}</h2>
                      </a>
                      </div>
                {% endfor %} 
           </div>
         
    </div>
  <div>  
{% endblock main-content %}