{% extends "app/baseShop.html" %}
{% load static %}
{% block title %}Shop{% endblock title %}
{% block main-content %}
<link rel="stylesheet" href="../../static/app/css/femaleShop.css">
<div class='main-wrapper'>
  <div class="menu">
    <div class='menu-item Amazon'>
      <div class='menu-item-title' ><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FBO'%}">BOOKS </a></div>
    </div>
    <div class='menu-item Lenovo'>
      <div class='menu-item-title'><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FAC'%}">Accessory </a></div>
    </div>
    <div class='menu-item'>
      <div class='menu-item-title'><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FSC'%}">skin Care </a></div>
    </div>
    <div class='menu-item'>
      <div class='menu-item-title'><a style=" color: #000000; text-decoration: none;" href="{%url 'Fcategory' 'FBP'%}">Beauty products </a></div>
    </div>
  </div>
{% endblock main-content %}